// Navigation Styles here
.nav-container {
  display: flex;
  width: 100%;
  margin: 1% auto;
  padding: 2%;
  border-bottom: silver 2px dashed;

  @media @mobile {
    display: flex;
    flex-direction: column;
    
  }

  .nav-content {
    display: flex;
    width: 100%;

    @media @mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1%;
      
    }

    .logo {
      display: flex;
      width: 50%;

      @media @mobile {
        display: flex;
        justify-self: center;
        padding: 5%;
        
      }

    }

    nav {
      display: flex;
      width: 50%;
      margin: auto;
      font-family: "Roboto";
      font-weight: 500;

      a {
        display: flex;
        justify-items: flex-end;
        margin: 0% auto;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
      }

      @media @mobile {
        display: flex;
        align-items: baseline;
        width: 100%;
        
      }
    }
  }

}
