
// Color assignments 
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg:  @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;

// Media Escapes
@small-mobile: ~"(max-width: 390px)";
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 768px)";
@desktop: ~"(min-width: 800px)";




.home {
    @media @small-mobile {
        .logo h1 {
            display: flex;
            font-size: 3rem;
        }

        .welcome h1 {
            display: flex;
            font-size: 3rem;
            padding: 1%;
        }

    }
}


